/* 45em is also 720px (if basefont is 16px) - Jose Giron */
@media (min-width: 45em) {
    
    form#searhBarContainer {
        
        flex-direction: row;
    }
    input#search-bar {
        width: 76%;
    }

    ul#cuisine-container li {
        padding: 0.1em 0.5em;
        margin: 0.4vh 0.5vw;
    }

    /*Recipe Details Page*/
    main#recipes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2rem;
    }
    main#recipes figure {
        flex-basis: 100%;
        text-align: center;
    }
    main#recipes figure img{
        min-width: 40%;
    }
    main#recipes p {
        flex-basis: 100%;
    }
    main#recipes .instructions {
        width: 50%;
    }
}